/archived
src/*.o
src/*.so
src/backup/*
configure
R/*.log
R/*.lo
.DS_Store
.Rhistory
*.Rproj*
*.sif
*.tar
*.swp
thirdParty/*.R
thirdParty/*.cpp
.vscode/
*.rda
bin/
# guide/
guide/*.aux
guide/*.fdb_latexmk
guide/*.fls
guide/*.log
guide/*.out
guide/*.pdf
guide/*.synctex.gz
test*
*noCov*
mytest/
