/archived
thirdParty/cget
thirdParty/zlib-1.2.8
thirdParty/bgen/.lock-waf_linux2_build
thirdParty/bgen/build
thirdParty/bgen/.hg
thirdParty/
src/*.o
src/*.so
src/backup/*
configure
R/*.log
R/*.lo
R/.nfs00000013331217950004b123
.DS_Store
.Rhistory
*.Rproj*
extdata/input
extdata/output
extdata/run_kirin.R
.Rproj.user
extdata/*.sh
extdata/*.sbatch
*.sif
*.tar
