/archived
src/*.o
src/*.so
src/backup/*
configure
R/*.log
R/*.lo
.DS_Store
.Rhistory
*.Rproj*
extdata/input
extdata/output
extdata/run_kirin.R
.Rproj.user
extdata/*.sh
extdata/*.sbatch
*.sif
*.tar
*.swp
thirdParty/*.R
.vscode/
*.rda
